@import url(https://fonts.googleapis.com/css?family=Bahiana:regular);
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b4b4b4;

}
#banner{
  background-color: rgb(42, 66, 85);
  margin-bottom: 1.5em;

}
#banner h1{
  text-align: center;
  color: #fff;
  font-family: 'Bahiana';
  font-size: 8em;
}


.content li{
  display: grid;
  grid-template: 0;
  grid-row-gap: .75em;
  margin: 0 4em;
}
#navItems{
  background-color: slategray;
  border: 2px lightslategray;
  
}
#navItems i{
  font-size: 8em;
  
}
#navItems a{
  color: #000;
  text-decoration: none;
}
i:hover{
  color:#b4b4b4;
  
}
#navItems a:visited{
  color: #000;
}


.links li{
  list-style-type: none;
  text-align: center;
  
}


.footer{
  background-color: rgb(42, 66, 85);
  margin-top: 1.4em;
}
.footer li{
  color: #fff;
  font-size: 2.5em;
}
.footer h1{
  font-size: 0.25em;

}facebook:hover{
color: blue;
}
#insta:hover{
  color: peru;
}
#twitter:hover{
  color: lightblue;
}
#youtube:hover{
  color: red;
}