@import url(https://fonts.googleapis.com/css?family=Bahiana:regular);
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b4b4b4;

}
/* #region banner */
#banner{
  background-color: rgb(42, 66, 85);
  margin-bottom: 1.5em;

}
#banner h1{
  text-align: center;
  color: #fff;
  font-family: 'Bahiana';
  font-size: 8em;
}
/* #endregion */
/* #region main content */
.content ul{
  display: grid;
  grid-row-gap: 1em;
  margin: 0 4em;
  grid-template-columns: minmax(75%, 50%);
  grid-template-rows: 1fr;
  justify-content: center;
  
}
.navItems{
  background-color: slategray;
  border: 2px darkolivegreen solid;
  
}
.navItems i{
  font-size: 8em;

}
.navItems a{
  color: #000;
  text-decoration: none;
}

.navItems a:visited{
  color: #000;
}
/* #endregion */

/* list properties */
.links li{
  list-style-type: none;
  text-align: center;
  border-radius: 1em;
  
}

/* #region site footer */
.footer{
  background-color: rgb(42, 66, 85);
  margin-top: 1.4em;
  display: grid;
  grid-template-columns: 3fr;
}
.footer li{
  color: #fff;
  font-size: 1.75em;
}
.footer h1{
  font-size: 0.75em;

}
/* #endregion */
/* #region  Icon colours*/
/*icon colours*/
#facebook i:hover{
  color: blue;
}
#insta i:hover{
  color: peru;
}
#twitter i:hover{
  color: rgb(95, 202, 238);
}
#youtube i:hover{
  color: red;
}
/* cell bgc */
.links #facebook:hover{
  background-color: seashell ;
}
.links #insta:hover{
  background-color: purple;
}
.links #twitter:hover{
  background-color: beige;
}
.links #youtube:hover{
  background-color: whitesmoke;
}
/* #endregion */
